* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/fundo.png");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#anima-div {
    height: 100px;
    width: 48px;
    background: url("../img/direita.png") -0px -0px no-repeat;
    animation: play .8s steps(4) infinite, mov-person 15s infinite;
    position: relative; /* Add position relative */
    z-index: 1; /* Ensure the figure is on top */
}

.arvore {
    height: 256px;
    width: 200px;
    background: url("../img/arvore.png");
    position: absolute; /* Change to absolute positioning */
    bottom: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    margin-bottom: 400px;
    margin-left: 270px;
    z-index: 3;
}

 @keyframes play {
    
}
@keyframes mov-person {
        0% { margin: 660px 0px}
        3% {margin: 660px 0px 0px 230px}
        6% {margin: 430px 0px 0px 230px; background:url("../img/costa.png") -0px -0px no-repeat;}
        9% {margin: 430px 0px 0px 420px; background:url("../img/costa.png") -0px -0px no-repeat;}
        12% {margin: 170px 0px 0px 420px; background:url("../img/costa.png") -0px -0px no-repeat;}
        15% {margin: 170px 0px 0px 760px; background:url("../img/costa.png") -0px -0px no-repeat;}
        18% {margin: 340px 0px 0px 760px; background:url("../img/costa.png") -0px -0px no-repeat;}
        21% {margin: 340px 0px 0px 1100px; background:url("../img/costa.png") -0px -0px no-repeat;}
        24% {margin: 240px 0px 0px 1100px; background:url("../img/costa.png") -0px -0px no-repeat;}
        27% {margin: 240px 0px 0px 1210px}
        30% {margin: 220px 0px 0px 1240px}
        33% {margin: 200px 0px 0px 1280px}
        36% {margin: 200px 0px 0px 1350px}
        39% {margin: 220px 0px 0px 1380px}
        42% {margin: 240px 0px 0px 1440px}
        45% {margin: 240px 0px 0px 1550px}
        48% {margin: 560px 0px 0px 1550px}
        52% {margin: 560px 0px 0px 1230px}
        55% {margin: 790px 0px 0px 1230px} 
        58% {margin: 770px 0px 0px 1230px}
        61% {margin: 750px 0px 0px 1200px}
        64% {margin: 750px 0px 0px 1100px}
        67% {margin: 770px 0px 0px 1070px}
        70% {margin: 790px 0px 0px 1040px}
        73% {margin: 790px 0px 0px 680px}
        76% {margin: 710px 0px 0px 680px}
        79% {margin: 710px 0px 0px 840px}
        82% {margin: 550px 0px 0px 840px;} 
        85% {margin: 550px 0px 0px 520px;} 
        88% {margin: 640px 0px 0px 520px;} 
        91% {margin: 640px 0px 0px 440px;} 
        94% {margin: 790px 0px 0px 440px;} 
        100% {margin: 790px 0px}
    } 