img{
    width: 1520px;
}
/* Smartphones (600px para baixo) */
@media only screen and (min-width: 1200px) {
    img{
        filter: blur(10px);
    }
}
/* Dispositivos regulares (mini tablets e alguns smartphones, 600px para cima) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    img{
        filter:brightness(4);
    }
}
/*Dispostivos Médios (tablets em modo wide, 768px para cima) */
@media only screen and (min-width: 768px) and (max-width: 991px){
    img{
        filter:contrast(2);
    }
}
/* Dispostivos Largos (notebooks e desktops, 992px para cima) */
@media only screen and (min-width: 600px) and (max-width: 767px){
    img{
        filter: hue-rotate(190deg);
    }
}
/* Dispositivos grandes (telas maiores que notebooks, desktops e smart TVs, 1200px para cima) */
@media only screen and (max-width: 600px){
    img{
        filter: sepia(100);
    }
}