<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suspense</title>
</head>
<body>
    <center>
        <h1>Suspense</h1><br>
        <hr>
        ilha do medo<br>
        <img src="img/ilha do medo.jpg" height="200px"><br><br>
        intrusion<br>
        <img src="img/intrusion.jpg"height="200px"><br><br>
        a mulher na janela<br>
        <img src="img/mulher janela.jpg"height="200px"><br><br>
        tempo<br>
        <img src="img/tempo.jpg"height="200px">
        <br>
            <a href="../index.html">Voltar</a>
    </center>

</body>
</html>