<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terror</title>
</head>
<body>
    <center>
        <h1>Terror</h1><br>
        <hr>
        jogos mortais<br>
        <img src="img/jogos mortais.jpg" height="200px"><br><br>
        a luz do diabo<br>
        <img src="img/luz do diabo.jpg"height="200px"><br><br>
        when evils lurks<br>
        <img src="img/when evil lurks.webp"height="200px"><br><br>
        um clarrico filme de terror americano<br>
        <img src="img/um classico filme de terror.jpg"height="200px">
        <br>
            <a href="../index.html">Voltar</a>
    </center>

</body>
</html>