<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedia</title>
</head>
<body>
    <center>
        <h1>Comedia</h1><br>
        <hr>
        mazzaropi<br>
        <img src="img/mazzaropi.jpg" height="200px"><br><br>
        minha mãe é uma peça<br>
        <img src="img/mae.jpg"height="200px"><br><br>
        mortadelo e salaminho - agentes quase secretos<br>
        <img src="img/mortadelo.jpg"height="200px"><br><br>
        O homem que desafiou o diabo<br>
        <img src="img/O_homem_que_desafiou_o_Diabo1.jpg"height="200px">
        <br>
            <a href="../index.html">Voltar</a>
    </center>

</body>
</html>