<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romance</title>
</head>
<body>
    <center>
        <h1>Romance</h1><br>
        <hr>
        crepusculo<br>
        <img src="img/crepusculo.jpg" height="200px"><br><br>
        culpa é das estrela<br>
        <img src="img/culpa estrela.jpg"height="200px"><br><br>
        redeeming<br>
        <img src="img/redeeming.png"height="200px"><br><br>
        sol meia noite<br>
        <img src="img/sol meia noite.jpg"height="200px">
        <br>
            <a href="../index.html">Voltar</a>
    </center>

</body>
</html>